@tailwind base;
@tailwind components;
@tailwind utilities;

.main h1, h2 {
    color: #00A39B;
    font-weight: 600;
}

.main {
    background-color: #FBF1EA;
}

.footer {
    background-color: #00A39B;
}

.footer a {
    color: #FBF1EA;
    font-weight: 600;
    font-size: 16pt;
}

.main a:hover {
    color: #FF9825;
}

.navlink {
    font-size: 18pt;
    font-weight: 600;
    color: #00A39B;
}

.about-hyperlink {
    color: #00A39B;
}

@media screen and (min-width: 1280px) {
    .logomark {
        width: 768px;
    }
}

@media screen and (max-width: 1279px) and (min-width: 1024px) {
    .logomark {
        width: 640px;
    }
}

@media screen and (max-width: 1023px) and (min-width: 768px) {
    .logomark {
        width: 430px;
    }
}

.wordmark {
    width: 150px;
}

@media screen and (min-width: 768px) {
    .wordmark {
        width: 200px;
    }
}